.user-container {
  display: flex;
  margin: 10px;
}

.user-input {
  width: 100%;
  align-self: center;
}

.title {
  display: flex;
  gap: 20px;
}

.go-back-button {
  bottom: 7px;
}

.hint {
  font-size: 8px;
  color: #E73F33;
}