<mat-nav-list>
  <mat-list-item (click)="navigate('/person/list')">
    <mat-icon mat-list-icon>group</mat-icon>
    <h4 mat-line *ngIf="isExpanded">Personas</h4>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/buses/list" class="link">
      <mat-icon mat-list-icon>directions_bus</mat-icon>
      <h4 mat-line *ngIf="isExpanded">Colectivos</h4>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/trips/list" class="link">
      <mat-icon mat-list-icon>fork_right</mat-icon>
      <h4 mat-line *ngIf="isExpanded">Viajes</h4>
    </a>
  </mat-list-item>
</mat-nav-list>
