<mat-nav-list>
  <mat-list-item (click)="navigate('/person/list')">
    <div class="list-item">
      <mat-icon mat-list-icon>group</mat-icon>
      <span mat-line *ngIf="isExpanded" class="span">Usuarios</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/buses/list" class="link">
      <div class="list-item">
        <mat-icon mat-list-icon>directions_bus</mat-icon>
        <span mat-line *ngIf="isExpanded" class="span">Colectivos</span>
      </div>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="/trips/list" class="link">
      <div class="list-item">
        <mat-icon mat-list-icon>fork_right</mat-icon>
        <span mat-line *ngIf="isExpanded" class="span">Viajes</span>
      </div>
    </a>
  </mat-list-item>
</mat-nav-list>
