<mat-card class="trip-container" style="min-width: 875px; padding: 20px">
  <div class="title">
    <button
      type="button"
      class="go-back-button"
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <mat-card-title> Crear / editar viaje </mat-card-title>
  </div>

  <mat-card-content class="trip-content">
    <form [formGroup]="tripForm" (ngSubmit)="saveChanges()">
      <div style="display: flex; gap: 15px; margin-bottom: 15px">
        <mat-form-field>
          <mat-label>Origen: </mat-label>
          <input matInput type="text" ngDefaultControl formControlName="origin" />

          <div
            *ngIf="
              tripForm.controls['origin'].invalid &&
              (tripForm.controls['origin'].dirty ||
                tripForm.controls['origin'].touched)
            "
          >
            <mat-hint 
              class="hint"
              *ngIf="tripForm.controls['origin'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Destino: </mat-label>
          <input matInput type="text" ngDefaultControl formControlName="destination" />

          <div
            *ngIf="
              tripForm.controls['destination'].invalid &&
              (tripForm.controls['destination'].dirty ||
                tripForm.controls['destination'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['destination'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Ida: </mat-label>

          <input
            matInput
            ngDefaultControl
            formControlName="departure"
            [matDatepicker]="pickerDeparture"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerDeparture"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerDeparture color="primary"></mat-datepicker>

          <div
            *ngIf="
              tripForm.controls['departure'].invalid &&
              (tripForm.controls['departure'].dirty ||
                tripForm.controls['departure'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['departure'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Vuelta: </mat-label>

          <input
            matInput
            ngDefaultControl
            formControlName="regress"
            [matDatepicker]="pickerRegress"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerRegress"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerRegress color="primary"></mat-datepicker>

          <div
            *ngIf="
              tripForm.controls['regress'].invalid &&
              (tripForm.controls['regress'].dirty ||
                tripForm.controls['regress'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['regress'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field [color]="colorControl.value!">
          <mat-label>Pasajeros: </mat-label>

          <mat-select ngDefaultControl formControlName="userId" multiple [compareWith]="compareObjects" [formControl]="colorControl">
            <mat-option *ngFor="let user of usersList" [value]="user.id">
              {{ user.name }} {{ user.lastName }}
            </mat-option>
          </mat-select>

          <div
            *ngIf="
              tripForm.controls['userId'].invalid &&
              (tripForm.controls['userId'].dirty ||
                tripForm.controls['userId'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['userId'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field [color]="colorControl.value!">
          <mat-label>Colectivo: </mat-label>
          <mat-select ngDefaultControl formControlName="busId" [formControl]="colorControl">
            <mat-option disabled> -- </mat-option>
            <mat-option *ngFor="let bus of busesList" [value]="bus.id">
              {{ bus.plate }} - {{ bus.seats }} - {{ bus?.model?.brand }}
            </mat-option>
          </mat-select>

          <div
            *ngIf="
              tripForm.controls['busId'].invalid &&
              (tripForm.controls['busId'].dirty ||
                tripForm.controls['busId'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['busId'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>
      </div>

      <button
        type="submit"
        style="float: right"
        mat-button
        [disabled]="tripForm.invalid"
      >
        GUARDAR
      </button>
    </form>
  </mat-card-content>
</mat-card>