<mat-card class="trip-container" style="min-width: 875px; padding: 20px">
  <div class="title">
    <button
      type="button"
      class="go-back-button"
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <mat-card-title> Crear / editar viaje </mat-card-title>
  </div>

  <mat-card-content class="trip-content">
    <form [formGroup]="tripForm" (ngSubmit)="saveChanges()">
      <div style="display: flex; gap: 15px; margin-bottom: 15px">
        <mat-form-field>
          <mat-label>Origen: </mat-label>
          <input matInput type="text" ngDefaultControl formControlName="origen" />

          <div
            *ngIf="
              tripForm.controls['origen'].invalid &&
              (tripForm.controls['origen'].dirty ||
                tripForm.controls['origen'].touched)
            "
          >
            <mat-hint 
              class="hint"
              *ngIf="tripForm.controls['origen'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Destino: </mat-label>
          <input matInput type="text" ngDefaultControl formControlName="destino" />

          <div
            *ngIf="
              tripForm.controls['destino'].invalid &&
              (tripForm.controls['destino'].dirty ||
                tripForm.controls['destino'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['destino'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Ida: </mat-label>

          <input
            matInput
            ngDefaultControl
            formControlName="ida"
            [matDatepicker]="pickerIda"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerIda"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerIda color="primary"></mat-datepicker>

          <div
            *ngIf="
              tripForm.controls['ida'].invalid &&
              (tripForm.controls['ida'].dirty ||
                tripForm.controls['ida'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['ida'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field color="primary">
          <mat-label>Vuelta: </mat-label>

          <input
            matInput
            ngDefaultControl
            formControlName="vuelta"
            [matDatepicker]="pickerVuelta"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerVuelta"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerVuelta color="primary"></mat-datepicker>

          <div
            *ngIf="
              tripForm.controls['vuelta'].invalid &&
              (tripForm.controls['vuelta'].dirty ||
                tripForm.controls['vuelta'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['vuelta'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field [color]="colorControl.value!">
          <mat-label>Pasajeros: </mat-label>

          <mat-select ngDefaultControl formControlName="usuarioId" multiple [compareWith]="compareObjects" [formControl]="colorControl">
            <mat-option *ngFor="let user of usersList" [value]="user.id">
              {{ user.nombre }} {{ user.apellido }}
            </mat-option>
          </mat-select>

          <div
            *ngIf="
              tripForm.controls['usuarioId'].invalid &&
              (tripForm.controls['usuarioId'].dirty ||
                tripForm.controls['usuarioId'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['usuarioId'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field [color]="colorControl.value!">
          <mat-label>Colectivo: </mat-label>
          <mat-select ngDefaultControl formControlName="colectivoId" [formControl]="colorControl">
            <mat-option disabled> -- </mat-option>
            <mat-option *ngFor="let bus of busesList" [value]="bus.id">
              {{ bus.patente }} - {{ bus.asientos }} - {{ bus?.modelo?.marca }}
            </mat-option>
          </mat-select>

          <div
            *ngIf="
              tripForm.controls['colectivoId'].invalid &&
              (tripForm.controls['colectivoId'].dirty ||
                tripForm.controls['colectivoId'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="tripForm.controls['colectivoId'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>
      </div>

      <button
        type="submit"
        style="float: right"
        mat-button
        [disabled]="tripForm.invalid"
      >
        GUARDAR
      </button>
    </form>
  </mat-card-content>
</mat-card>