.person-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.person-input {
  width: 50%;
  align-self: center;
}

.title {
  display: flex;
  gap: 20px;
}

.go-back-button {
  bottom: 7px;
}

.hint {
  font-size: 8px;
}