<div class="list-container">
  <button style="margin-bottom: 10px;" mat-icon-button (click)="createTrip()">
    <mat-icon>add</mat-icon>
  </button>

  <table mat-table *ngFor="let trip of tripsList" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="origen">
      <th mat-header-cell *matHeaderCellDef>Origen</th>
      <td mat-cell *matCellDef="let element">{{ element.lugarSalida }}</td>
    </ng-container>
    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef>Destino</th>
      <td mat-cell *matCellDef="let element">{{ element.lugarDestino }}</td>
    </ng-container>
    <ng-container matColumnDef="fechaSalida">
      <th mat-header-cell *matHeaderCellDef>Fecha Salida</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fechaSalida | date : "dd/MM/YYYY - hh:mm" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="fechaLlegada">
      <th mat-header-cell *matHeaderCellDef>Fecha Llegada</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fechaLlegada | date : "dd/MM/YYYY - hh:mm" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="colectivo">
      <th mat-header-cell *matHeaderCellDef>Colectivo</th>
      <td mat-cell *matCellDef="let element">
        {{ element.colectivo?.patente }}
      </td>
    </ng-container>
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="selectTrip(trip)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef>Borrar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deleteTrip(trip)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
