<mat-card class="bus-container" style="min-width: 875px; padding: 20px">
  <div class="title">
    <button
      type="button"
      class="go-back-button"
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <mat-card-title> Crear / editar colectivo </mat-card-title>
  </div>

  <mat-card-content class="bus-content">
    <form [formGroup]="busForm" (ngSubmit)="saveChanges()">
      <div style="display: flex; gap: 15px; margin-bottom: 15px">
        <mat-form-field style="width: 33%">
          <mat-label>Patente: </mat-label>
          <input matInput type="text" formControlName="plate"/>

          <div
            *ngIf="
              busForm.controls['plate'].invalid &&
              (busForm.controls['plate'].dirty ||
                busForm.controls['plate'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="busForm.controls['plate'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field style="width: 33%">
          <mat-label>Cantidad de asientos: </mat-label>
          <input matInput type="text" formControlName="seats"/>

          <div
            *ngIf="
              busForm.controls['seats'].invalid &&
              (busForm.controls['seats'].dirty ||
                busForm.controls['seats'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="busForm.controls['seats'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field style="width: 33%">
          <mat-label>Id Modelo: </mat-label>
          <mat-select formControlName="modelId">
            <mat-option disabled> -- </mat-option>
            <mat-option *ngFor="let model of modelsList" [value]="model.id">
              {{ model.name }} - {{ model.brand }}
            </mat-option>
          </mat-select>

          <div
            *ngIf="
              busForm.controls['modelId'].invalid &&
              (busForm.controls['modelId'].dirty ||
                busForm.controls['modelId'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="busForm.controls['modelId'].errors?.['required']"
            >
              Complete el campo
            </mat-hint>
          </div>
        </mat-form-field>
      </div>

      <button
        type="submit"
        style="float: right"
        mat-button
        [disabled]="busForm.invalid"
      >
        GUARDAR
      </button>
    </form>
  </mat-card-content>
</mat-card>
