<mat-card class="user-container" style="min-width: 320px; padding: 20px">
  <div class="title">
    <button
      type="button"
      class="go-back-button"
      mat-icon-button
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <mat-card-title> Crear / editar usuario </mat-card-title>
  </div>

  <mat-card-content>
    <form [formGroup]="userForm" (ngSubmit)="saveChanges()">
      <div style="display: flex; flex-direction: column; margin-bottom: 15px">
        <mat-form-field class="user-input">
          <mat-label>Nombre:</mat-label>
          <!--  <input type="text" [(ngModel)]="selectedUser.nombre">-->
          <input matInput type="text" ngDefaultControl formControlName="nombre" />
          <div
            *ngIf="
              userForm.controls['nombre'].invalid &&
              (userForm.controls['nombre'].dirty ||
                userForm.controls['nombre'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="userForm.controls['nombre'].errors?.['required']"
            >
              Por favor complete el campo requerido
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field class="user-input">
          <mat-label>Apellido:</mat-label>
          <input matInput type="text" ngDefaultControl formControlName="apellido" />

          <div
            *ngIf="
              userForm.controls['apellido'].invalid &&
              (userForm.controls['apellido'].dirty ||
                userForm.controls['apellido'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="userForm.controls['apellido'].errors?.['required']"
            >
              Por favor complete el campo requerido
            </mat-hint>
          </div>
        </mat-form-field>

        <mat-form-field class="user-input">
          <mat-label>Edad:</mat-label>
          <input matInput type="number" ngDefaultControl formControlName="edad" />

          <div
            *ngIf="
              userForm.controls['edad'].invalid &&
              (userForm.controls['edad'].dirty ||
                userForm.controls['edad'].touched)
            "
          >
            <mat-hint
              class="hint"
              *ngIf="userForm.controls['edad'].errors?.['required']"
            >
              Por favor complete el campo requerido
            </mat-hint>

            <mat-hint
              class="hint"
              *ngIf="userForm.controls['edad'].errors?.['min']"
            >
              La edad debe ser mayor o igual a 0 años
            </mat-hint>

            <mat-hint
              class="hint"
              *ngIf="userForm.controls['edad'].errors?.['max']"
            >
              La edad debe ser menor o igual a 101 años
            </mat-hint>
          </div>
        </mat-form-field>
      </div>

      <button
        type="submit"
        style="float: right"
        mat-button
        [disabled]="userForm.invalid"
      >
        GUARDAR
      </button>
    </form>
  </mat-card-content>
</mat-card>
