<div class="list-container">
  <button mat-icon-button (click)="createUser()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-card *ngFor="let user of usersList" style="min-width: 305px; margin: 10px">
    <mat-card-header>
      <mat-card-title>{{ user.showName() }}</mat-card-title>
      <mat-card-subtitle>Edad: {{ user.edad }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button (click)="selectUser(user)">EDITAR</button>
      <button mat-button (click)="deleteUser(user)">BORRAR</button>
    </mat-card-actions>
    <!-- <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer> -->
  </mat-card>
</div>
